body {
	background-image: url(3.jpg), linear-gradient(#BD7C1A, #BD7C1A);
	background-blend-mode: overlay;
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100%;
}

a {
	text-decoration: none;
}

header {
	background: #FFA823;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: block;
}

#widther {
	display: flex;
	justify-content: center;
}

.header_menu {
	display: inline-flex;
	flex-direction: row;
	list-style: none;
	background: #915E14;
	margin: 0;
	padding: 10px auto 10px 0;
	padding-left: 0;
	width: 100%;
	justify-content: center;
}

.header_menu_element {
	margin: 10px 50px;
	font-size: 26px;
	font-family: "Montserrat";
	align-items: center;
}

.link_color {
	color: black;
	font-weight: 900;
}

.link_color:hover {
	color: #B60606;
}

main {
	position: absolute;
	top: 126.2px;
	left: 0;
	right: 0;
	text-align: center;
	margin: 3% auto;
}

#menu_discription {
	font-size: 26px;
	font-family: "Montserrat";
	font-weight: 900;
	color: black;
	line-height: 150%;
	margin: 5% auto 2% auto;
	padding: 10px 30px;
	max-width: max-content;
	transition: all 500ms ease-out;
}

#menu_discription:hover {
	background-color: #6E3512;
	border-radius: 30px;
}

.link_button {
	font-size: 22px;
	font-family: "Montserrat";
	font-weight: 900;
	color: black;
	border: 1px solid black;
	background-color: #B11203;
	border-radius: 30px;
	padding: 15px 50px;
	margin: 15px auto;
	display: inline-block;
	transition: transform .1s;
}

.link_button:hover {
	background-color: #700B02;
	transition: all 300ms ease;
	transform: scale(1.1);
	color: #F87C0B;
}